/* CSS pro vsechny stranky webu */
#body-container {
  background-color: black;
}

body {
  padding-top: 85px;
}
@media (max-width: 980px) {
  body {
    padding-top: 80px;
  }
}

#header-img {
  border-bottom: rgb(33, 37, 41) solid 20px;
}

@media (max-width: 768px) {
  #header-img {
    border-bottom: rgb(33, 37, 41) solid 10px;
  }
}

#btn-account {
  background-color: aquamarine;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

#btn-account:hover {
  background-color: white;
  transition: background-color 0.5s ease;
}

#btn-logout {
  background-color: lightpink;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

#btn-logout:hover {
  background-color: white;
  transition: background-color 0.5s ease;
}

#btn-cart {
  background-color: transparent;
  border: none;
  color: rgb(155, 157, 159);
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  margin: 5px;
}

#btn-cart:hover {
  color: rgb(200, 200, 201);
  transition: color 0.25s ease;
}

.jumbotron {
  background-color: rgb(244, 244, 244);
  border-radius: 10px;
  border: lightgray solid 1px;
  padding: 5px;
}

#footer {
  background-color: lightpink;
  padding: 20px;
  border-top: rgb(33, 37, 41) solid 20px;
}

@media (max-width: 768px) {
  #footer {
    border-top: rgb(33, 37, 41) solid 10px;
  }
}

#home-footer-left {
  text-align: left;
  margin: 10px 0 10px 0;
}

#home-footer-center {
  text-align: center;
  margin: 10px 0 10px 0;
}

@media (max-width: 768px) {
  #home-footer-center {
    text-align: left;
  }
}

#home-footer-right {
  text-align: right;
  margin: 10px 0 10px 0;
}

#home-footer-list {
  list-style: none;
  margin-left: -30px;
}

.home-footer-list-item {
  margin: 10px 0 10px 0;
}

.home-footer-list-text {
  margin-left: 15px;
}

.home-footer-list-icon {
  color: white;
  width: 10px;
}

#copyright {
  background-color: white;
  padding: 8px;
  text-align: center;
}

.zoom {
  overflow: hidden;
}

.zoom img:hover {
  opacity: 0;
}

.zoom img {
  transition: opacity .5s;
  display: block;
  width: 100%;
}

/* CSS pro domovskou stranku */
#home-main-content {
  background-color: white;
  padding: 30px;
}

.home-main-heading {
  margin: 15px 0 15px 0;
}

#home-main-about {
  background-color: lightpink;
  padding: 15px 15px 15px 40px;
  margin-bottom: 0;
}

#home-main-list {
  list-style: none;
}

.home-main-list-item {
  margin: 21px 0 21px 0;
}

.home-main-list-icon {
  color: rgb(43, 89, 136);
  width: 20px;
}

.home-main-list-text {
  font-size: large;
  margin: 20px;
}

.home-main-table-stars {
  font-size: 10px;
}

.home-main-table-text {
  font-size: smaller;
}

#home-carousel-favorites {
  background-color: rgb(165, 248, 218);
  padding: 10px 10px 10px 40px;
}

.home-carousel-bottom-paragraph {
  height: 60px;
  display: none;
}

@media (max-width: 992px) {
  .home-carousel-bottom-paragraph {
    display: block;
  }
}

/* CSS pro registracni stranku */
#registration-main-content {
  background-color: white;
  padding: 30px;
}

.registration-main-heading {
  margin: 15px 0 15px 0;
}

.registration-main-item {
  margin: 20px 0 20px 0;
}

#registration-main-btn-submit {
  margin: 15px 0 0 0;
  background-color: aquamarine;
  border: rgb(33, 37, 41) solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

#registration-main-btn-submit:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

.registration-main-heading-secondary {
  margin: 20px 0 15px 0;
}

/* CSS pro stranku s nabidkou */
#products-main-content {
  background-color: white;
  padding: 30px;
}

.products-main-heading {
  margin: 15px 0 30px 0;
}

.products-main-item {
  margin: 0 0 15px 0;
}

/* unvisited link */
.products-main-name-link:link {
  color: rgb(43, 89, 136);
  text-decoration: none;
}

/* visited link */
.products-main-name-link:visited {
  color: rgb(43, 89, 136);
  text-decoration: none;
}

/* mouse over link */
.products-main-name-link:hover {
  color: grey;
  text-decoration: underline;
}

/* selected link */
.products-main-name-link:active {
  color: rgb(43, 89, 136);
  text-decoration: none;
}

.products-main-btn-product {
  margin: 15px 0 0 0;
  background-color: aquamarine;
  border: rgb(33, 37, 41) solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.products-main-btn-product:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

/* CSS pro stranku s jednim modelem */
#model-main-content {
  background-color: white;
  padding: 30px;
}

.model-main-heading {
  margin: 15px 0 30px 0;
}

.model-main-img {
  width: 100%;
  border: grey solid 3px;
}

.model-main-content-list {
  margin: 10px 0 0 0;
}

.model-main-content-list-key {
  font-weight: bold;
}

.model-main-content-list-value {
  float: right;
}

.model-main-content-price {
  color: rgb(43, 89, 136);
  margin: 15px 10px 15px 10px;
  font-size: x-large;
}

.model-main-btn-product {
  background-color: aquamarine;
  border: rgb(33, 37, 41) solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.model-main-btn-product:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

#model-other-content {
  background-color: white;
  padding: 30px;
}

/* CSS pro stranku s obsahem kosiku */
#cart-main-content {
  background-color: white;
  padding: 30px;
}

.cart-main-heading {
  margin: 15px 0 15px 0;
}

.cart-main-item {
  padding: 15px 10px 10px 10px;
}

.cart-main-item-name {
  font-weight: bold;
}

.cart-main-item-days {
  font-style: italic;
}

.cart-main-item-price {
  color: rgb(43, 89, 136);
  font-weight: bold;
}

.cart-main-item-remove-btn {
  background-color: transparent;
  border: none;
  float: right;
  color: indianred;
  font-size: 25px;
}

.cart-main-item-remove-btn:hover {
  transition: color 0.5s ease;
  color: black;
}

.cart-main-price {
  padding: 20px 0 10px 0;
  font-size: x-large;
  color: rgb(43, 89, 136);
  float: right;
}

.cart-main-continue-btn {
  float: right;
  background-color: aquamarine;
  border: rgb(33, 37, 41) solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.cart-main-continue-btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

.cart-main-info {
  float: right;
}

.cart-main-progress {
  padding: 30px 0 10px 0;
}

/* CSS pro stranku s adresou doruceni */
#shipping-main-content {
  background-color: white;
  padding: 30px;
}

.shipping-main-heading {
  margin: 15px 0 15px 0;
}

.shipping-main-continue-btn {
  float: right;
  background-color: aquamarine;
  border: rgb(33, 37, 41) solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.shipping-main-continue-btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

.shipping-main-item {
  margin: 20px 0 20px 0;
}

.shipping-main-info {
  float: right;
}

/* CSS pro stranku s platbou */
#payment-main-content {
  background-color: white;
  padding: 30px;
}

.payment-main-heading {
  margin: 15px 0 15px 0;
}

.payment-main-price {
  font-size: x-large;
  color: rgb(43, 89, 136);
}

.payment-main-item {
  margin: 20px 0 20px 0;
}

.payment-main-info {
  margin: 20px 0 20px 0;
  font-style: italic;
}

.payment-main-continue-btn {
  float: right;
  background-color: aquamarine;
  border: rgb(33, 37, 41) solid 2px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
}

.payment-main-continue-btn:hover {
  background-color: black;
  color: white;
  transition: 0.5s ease;
}

/* CSS pro stranku s dokoncenou objednavkou */
#order-main-content {
  background-color: white;
  padding: 30px;
}

.order-main-heading {
  margin: 15px 0 15px 0;
}

.order-main-item {
  padding: 15px 10px 10px 10px;
}

.order-main-item-name {
  font-weight: bold;
}

.order-main-item-days {
  font-style: italic;
}

.order-main-item-price {
  float: right;
  color: rgb(43, 89, 136);
  font-weight: bold;
}







